.btn-social {
    color: white;
    background-color: #7B16F5;
    padding: 5px !important;
    border-radius: 50% !important;
}

.fix-right{
    position: fixed !important;
    right: 20px;
    bottom: 20px;
}